<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>카메라 접근 권한이 필요합니다</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>사진 라이브러리 접근 권한이 필요합니다</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>사진을 앨범에 추가하기 위해 권한이 필요합니다</string>

</dict>
</plist>
